header{
    padding: 0;
}
.head{
    background-color: orange;
    padding: 15px 0;
}

.sidebar ul li{
    display: block;
    margin-bottom: 10px;
}
.sidebar ul li.current a{
    background-color: orange;
    color: #333;
}
.sidebar ul li::after{
    display: none;
}
.sidebar ul li a{
    color: #333;
    background-color: #ddd;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: all .3s ease;
    font-size: 16px;
}
.sidebar ul li a:hover{
    background-color: orange;
    color: #fff;
}
.admin table ul {
    margin-bottom: 0;
    padding-left: 0;
}
.admin table ul li{
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
}
.admin table ul li a.btn{
    font-size: 14px;
    padding: 8px 10px;
}
.admin table ul li::after{
    display: none;
}
.admin a.btn{
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border: none;
}
.admin a.add{
    background-color: green;
}
.admin a.view{
    background-color: orange;
}
.admin a.edit{
    background-color: orange;
}
.admin form .delete{
    background-color: red;
    height: auto;
    color: #fff;
    width: auto;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
}
.admin form .cancel{
    padding: 9px 30px;
    margin-left: 10px;
}
.admin .input-group{
    margin-bottom: 10px;
}
.admin label{
    display: block;
}
.admin .form-label label{
    display: inline-block;
}
form button{
    width: auto;
}
.admin img{
    max-width: 120px;
    margin-bottom: 10px;
}
.admin table img{
    max-width: 200px;
    max-height: 200px;
}
.admin form input[type="checkbox"]{
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 5px;
}
.dashboard table{
    margin-bottom: 0;
}
.dashboard-item{
    padding: 20px;
    border: 1px solid orange;
    text-align: center;
    margin-top: 20px;
}
.dashboard-item .num{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
    color: orange;
    line-height: 1.2;
}
.dashboard-item h5{
    font-size: 18px;
}
.dashboard .sliders, .dashboard .reviews{
    margin-top: 40px;
}
.order a{
    text-decoration: none;
    color: #1d4caa;
}
.admin .complex label{
    display: inline-block;
}
.deposit{
    margin-top: 30px;
    display: block;
}
.deposit .btn-wrap{
    margin-top: 20px;
}
.deposit .btn-wrap .more{
    background-color: green;
}